<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <link href="/Content/error.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <div class="wrap">
        <div class="header">
            <div class="logo">
                <h1><a href="#">Ohh</a></h1>
            </div>
        </div>

        <div class="content">
            @RenderBody()
            <div class="copy-right">
                <p>&#169 Denis Hihich</p>
            </div>
        </div>
    </div>
</body>
</html>