@using Teachersteams.Presentation.Resources

@{
    ViewBag.Title = Resource.UnexpectedErrorTitle;
    Layout = "~/Views/Error/_ErrorLayout.cshtml";
}

<p>@Resource.UnexpectedErrorDescription</p>
<p>@Resource.SorryString</p>