@using Teachersteams.Presentation.Resources
@{
    ViewBag.Title = Resource.NotFoundTitle;
    Layout = "~/Views/Error/_ErrorLayout.cshtml";
}

<img src="/Content/images/error/error404.png" title="error"/>
<p><span><label>@Resource.OhhFirstPart</label>@Resource.OhhSecondPart</span>@Resource.NotFoundDescription</p>