<div class="tt-group-list" ng-controller="ttGroupListController">
    <div class="list-group tt-group-items">
        <a ng-repeat="group in groups"
           ui-sref="teacher/groups.details({ groupId: group.Id })"
           class="list-group-item tt-group-item scale-animation">{{ group.Title }}</a>
    </div>
    <ul class="pager">
        <li><a href="#" ng-click="previous()">&larr;</a></li>
        <li><a href="#" ng-click="next()">&rarr;</a></li>
    </ul>
</div>