@using Teachersteams.Presentation.Resources
@{
    string ngController = ViewData.ContainsKey("NgController") ? ViewData["NgController"].ToString() : string.Empty;
    string ngItemUiSref = ViewData.ContainsKey("NgItemUiSref") ? ViewData["NgItemUiSref"].ToString() : string.Empty;
    string noGroupsDescription = ViewData.ContainsKey("NoGroupsDescription") ? ViewData["NoGroupsDescription"].ToString() : string.Empty;
}

<div class="tt-group-list" ng-controller="@ngController">

    <div ng-if="isFilterVisible()" class="tt-group-filter">
        <div class="btn-group dropup btn-block" uib-dropdown>
            <button id="filter-button" type="button" class="btn btn-info tt-btn-filter-text">{{selectedFilter.Text}}</button>
            <button type="button" class="btn btn-info tt-btn-filter-caret" uib-dropdown-toggle>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="filter-button">
                <li role="menuitem" ng-repeat="filter in availableFilters"><a href="#" ng-click="applyFilter(filter.Id)">{{filter.Text}}</a></li>
            </ul>
        </div>
    </div>
    <div ng-hide="isEmpty">
        <div class="list-group tt-group-items">
            <a ng-repeat="group in groups"
               ui-sref="@ngItemUiSref"
               class="list-group-item tt-group-item scale-animation">{{ group.Title }}</a>
        </div>
        <ul class="pager">
            <li><a href="#" ng-click="previous()">&larr;</a></li>
            <li><a href="#" ng-click="next()">&rarr;</a></li>
        </ul>
    </div>
    <div ng-show="isEmpty" class="no-groups">
        <div class="jumbotron">
            <h3>@Resource.NoGroupsMessage</h3>
            <p>@noGroupsDescription</p>
        </div>
    </div>
</div>