@import "colors";

html, body{
    height:100%;
}

.overlay{
  opacity:    0.5; 
  background: #000; 
  width:      100%;
  height:     100%; 
  z-index:    10;
  top:        0; 
  left:       0; 
  position:   fixed; 
}

.dialog-contents{
    padding: 0px;
}

.input-group .form-control {
    margin: 0px;
}

.input-group{
    width: 100%;
}

.has-error .form-control, .has-error span{
    border-color: @error-color !important;
}

.has-success .form-control, .has-success span{
    border-color: @success-color !important;
}

.ui-grid-vcenter div{
    position: relative;
    top: 15%;
}

.ui-grid-hcenter div{
    text-align: center;
}

.ui-grid-cell-content{
    margin: 0px;
}

.error-messages{
    position: absolute;
    background: @error-color;
    border-radius: 10px;
    padding: 5px;
    margin: 5px 10px 0px;
    color: @light-font-color;
    
    p{
        margin: 0px;
    }

    :after{
        position: absolute;
        top: -5px;
        left: 20px;
        content: "";
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent @error-color transparent;
    }
}

body {
    padding-top: 50px;
    padding-bottom: 20px;

    .body-content {
        margin: 0 15px;

        .page-header {
            margin: 10px;

            h1 {
                margin: 0;
            }
        }

        .tt-groups-content {
            margin-top: 10px;

            .tt-group-list {
                padding: 0;

                .tt-group-items {
                    height: 210px;

                    a.tt-group-item {
                        overflow-x: hidden;
                    }
                }
            }

            .tt-tab-content{
                padding: 20px;

                .invite-user-row{
                    margin-bottom: 10px;
                }
            }
        }
    }

    footer{
        text-align: center;
    }
}

.invite-teacher-dialog{
    .info-icons{
        min-height: 25px;

        p{
            padding: 0px;
            margin: 0px;
        }
    }

    .photo{
        margin: 10px;
    }
}