@using Teachersteams.Presentation.Resources
<section ng-controller="ttAssignmentsTabControllerForTeacher" class="tt-tab-content">
    <div class="row tt-create-assignment-row">
        <button class="btn btn-info" ng-click="create()">@Resource.CreateAssignmentButtonLabel</button>
    </div>
    <div class="row">
        <div id="assignmentsGrid" ui-grid="gridOptions" ui-grid-pagination class="grid" no-items-message data-show-empty-msg="@Resource.NoItems"></div>
    </div>
</section>

@Html.Partial("AssignmentLinkTemplate")
@Html.Partial("GridCellDateTemplate")