<tabset>
    <tab title="Info" template-url="/Teacher/Group/InfoTab"></tab>
    <tab title="Students">
        @*<div ng-include="'@Url.Action("StudentsTab", "Group" , new { area="Teacher" })'"></div>*@
    </tab>
    <tab title="Teachers">
        @*<div ng-include="'@Url.Action("TeachersTab", "Group" , new { area="Teacher" })'"></div>*@
    </tab>
    <tab title="Tasks">
        @*<div ng-include="'@Url.Action("TasksTab", "Group" , new { area="Teacher" })'"></div>*@
    </tab>
</tabset>