@using Teachersteams.Presentation.Resources

<section ng-controller="ttGroupTeachersTabController" class="tt-tab-content">
    <div class="row">
        <button class="btn btn-info pull-right" ng-click="invite()">@Resource.InviteButtonLabel</button>
    </div>
</section>
