@using Teachersteams.Presentation.Resources

<div class="dialog-contents">
    <div class="view-grades-dialog">
        <h4>@Resource.ViewGradesDialogTitle</h4>
        <div class="tt-buttons ngdialog-buttons">
            <button class="btn btn-default ngdialog-button">@Resource.CloseButtonLabel</button>
        </div>
    </div>
</div>